<div class="container-fluid d-flex justify-content-center mt-5">
  <div class="row d-flex justify-content-around">
    <div class="col-4">
      <app-dash-card title="Pets" urlPath="/pets"
                     imagePath="assets/img/pets.jpg"></app-dash-card>
    </div>
    <div class="col-4">
      <app-dash-card title="Wild Animals" urlPath="/wilds"
                     imagePath="assets/img/wilds.jpg"></app-dash-card>
    </div>
    <div class="col-4">
      <app-dash-card title="Owners" urlPath="/owners"
                     imagePath="assets/img/owners.jpg"></app-dash-card>
    </div>
  </div>
</div>
